Repository ueckoken/plarail2021-soft, pull requests merged in 2021-10, with the labels that each got.

#99 receive from client and add to kvs
  backend/external/internal/clientHandler.go
  backend/external/internal/http.go
  backend/external/internal/syncController.go
Labels: external

#97 handle gRPC err
  backend/external/internal/command2Internal.go
  backend/external/internal/command2Internal_test.go
  backend/external/internal/syncController_test.go
Labels: external

#98 deployment-20211030
  .github/labeler.yml
  .github/workflows/compile-protocol-buffer.yml
  .github/workflows/test-internal.yml
  .github/workflows/validate_github_workflow.yml
  README.md
  backend/Makefile
  backend/external/.gitignore
  backend/external/Makefile
  backend/external/internal/clientHandler.go
  backend/external/internal/command2Internal.go
  backend/external/internal/command2Internal_test.go
  backend/external/internal/http.go
  backend/external/internal/syncController.go
  backend/external/internal/syncController_test.go
  backend/external/pkg/clientSync/struct.go
  backend/external/spec/speedControl.pb.go
  backend/external/spec/speedControl_grpc.pb.go
  backend/internal/.gitignore
  backend/internal/Makefile
  backend/internal/cmd/main.go
  backend/internal/go.mod
  backend/internal/go.sum
  backend/internal/internal/ServeCommand2Internal.go
  backend/internal/internal/ServeCommand2Internal_test.go
  backend/internal/internal/envStore.go
  backend/internal/internal/envStore_test.go
  backend/internal/internal/sendMsg2Esp.go
  backend/internal/internal/sendMsg2Esp_test.go
  backend/internal/internal/serveGrpc.go
  backend/internal/pkg/embed/station2espIp.yml
  backend/internal/pkg/parseYaml.go
  backend/internal/pkg/parseYaml_test.go
  backend/internal/pkg/sendJson.go
  backend/internal/spec/speedControl.pb.go
  backend/internal/spec/speedControl_grpc.pb.go
  backend/proto/speedControl.proto
  docs/api.md
  docs/environmentValList.md
  docs/protocolBuf.md
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
Labels: documentation, internal, external, ci-cd

#103 implement client metrics handler
  backend/external/go.mod
  backend/external/go.sum
  backend/external/internal/command2Internal.go
  backend/external/internal/envStore.go
  backend/internal/go.mod
  backend/internal/go.sum
  backend/internal/internal/envStore.go
  backend/internal/internal/serveGrpc.go
  docs/environmentValList.md
Labels: documentation, internal, external

#102 experimental metrics monitoring
  backend/external/Makefile
  backend/external/cmd/main.go
  backend/external/go.mod
  backend/external/internal/command2Internal.go
  backend/external/internal/http.go
  backend/external/internal/syncController.go
Labels: external
