Repository ueckoken/plarail2021-soft, pull requests merged in 2021-11, with the labels that each got.

#110 fix crash
  backend/internal/internal/serveGrpc.go
  backend/internal/pkg/embed/station2espIp.yml
  backend/internal/pkg/sendJson.go
Labels: internal

#118 move internal -> pkg
  backend/external/cmd/main.go
  backend/external/internal/http.go
  backend/external/pkg/clientHandler/clientHandler.go
  backend/external/pkg/clientHandler/embed/index.html
  backend/external/pkg/envStore/envStore.go
  backend/external/pkg/envStore/envStore_test.go
  backend/external/pkg/servo/send.go
  backend/external/pkg/servo/send_test.go
  backend/external/pkg/syncController/syncController.go
  backend/external/pkg/syncController/syncController_test.go
Labels: external

#120 add operation page's fur
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-python-server.yml
  .github/workflows/test-frontend.yml
  frontend/Dockerfile
  frontend/index.html
  frontend/other/.gitignore
  frontend/other/.gitkeep
  frontend/other/Dockerfile.nginx
  frontend/other/Dockerfile.python
  frontend/other/momo_sender.html
  frontend/other/momo_sender.js
  frontend/other/one_to_multiple_cast_skyway.py
  frontend/other/package-lock.json
  frontend/other/package.json
  frontend/other/requirements.txt
  frontend/other/skyway_receiver.html
  frontend/other/skyway_receiver.js
  frontend/other/webpack.config.js
Labels: frontend, ci-cd

#122 automated deployment of external
  README.md
  manifests/manifests/external/deployment.yaml
  manifests/manifests/external/kustomization.yaml
  manifests/manifests/external/service.yaml
  manifests/manifests/external/virtualservice.yaml
Labels: documentation, ci-cd

#121 deployment 20211105-1138
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-python-server.yml
  .github/workflows/test-frontend.yml
  README.md
  backend/Makefile
  backend/builtin/speed/cmd/main.go
  backend/builtin/speed/control_pin.py
  backend/builtin/speed/go.mod
  backend/builtin/speed/go.sum
  backend/builtin/speed/internal/controlRaspSpeed.go
  backend/builtin/speed/internal/serveGrpc.go
  backend/builtin/speed/internal/serveSpeedControl.go
  backend/builtin/speed/spec/speedControl.pb.go
  backend/builtin/speed/spec/speedControl_grpc.pb.go
  backend/external/Makefile
  backend/external/cmd/main.go
  backend/external/go.mod
  backend/external/go.sum
  backend/external/internal/http.go
  backend/external/pkg/clientHandler/clientHandler.go
  backend/external/pkg/clientHandler/embed/index.html
  backend/external/pkg/envStore/envStore.go
  backend/external/pkg/envStore/envStore_test.go
  backend/external/pkg/servo/send.go
  backend/external/pkg/servo/send_test.go
  backend/external/pkg/syncController/syncController.go
  backend/external/pkg/syncController/syncController_test.go
  backend/internal/go.mod
  backend/internal/go.sum
  backend/internal/internal/envStore.go
  backend/internal/internal/serveGrpc.go
  backend/internal/pkg/embed/station2espIp.yml
  backend/internal/pkg/sendJson.go
  backend/positioning/Pipfile
  backend/positioning/Pipfile.lock
  backend/positioning/hallsensor.yaml
  backend/positioning/visualize.py
  docs/environmentValList.md
  frontend/Dockerfile
  frontend/index.html
  frontend/other/.gitignore
  frontend/other/.gitkeep
  frontend/other/Dockerfile.nginx
  frontend/other/Dockerfile.python
  frontend/other/momo_sender.html
  frontend/other/momo_sender.js
  frontend/other/one_to_multiple_cast_skyway.py
  frontend/other/package-lock.json
  frontend/other/package.json
  frontend/other/requirements.txt
  frontend/other/skyway_receiver.html
  frontend/other/skyway_receiver.js
  frontend/other/webpack.config.js
  manifests/manifests/external/deployment.yaml
  manifests/manifests/external/kustomization.yaml
  manifests/manifests/external/service.yaml
  manifests/manifests/external/virtualservice.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
Labels: documentation, frontend, internal, external, ci-cd

#124 delete unused prometheus exporter
  backend/external/pkg/clientHandler/embed/index.html
  backend/external/pkg/servo/send.go
Labels: external

#125 initiarize for using nextjs
  .github/workflows/deploy-frontend.yml
  .github/workflows/test-frontend.yml
  frontend/chofusai-plarail2021-front/.eslintrc.json
  frontend/chofusai-plarail2021-front/.gitignore
  frontend/chofusai-plarail2021-front/Dockerfile
  frontend/chofusai-plarail2021-front/README.md
  frontend/chofusai-plarail2021-front/next-env.d.ts
  frontend/chofusai-plarail2021-front/next.config.js
  frontend/chofusai-plarail2021-front/package.json
  frontend/chofusai-plarail2021-front/pages/_app.tsx
  frontend/chofusai-plarail2021-front/pages/api/hello.ts
  frontend/chofusai-plarail2021-front/pages/index.tsx
  frontend/chofusai-plarail2021-front/public/favicon.ico
  frontend/chofusai-plarail2021-front/public/vercel.svg
  frontend/chofusai-plarail2021-front/styles/Home.module.css
  frontend/chofusai-plarail2021-front/styles/globals.css
  frontend/chofusai-plarail2021-front/tsconfig.json
  frontend/chofusai-plarail2021-front/yarn.lock
Labels: frontend, ci-cd

#127 add env
  manifests/manifests/external/deployment.yaml
  manifests/manifests/external/env.yaml
  manifests/manifests/external/service.yaml
Labels: ci-cd

#128 add env
  backend/external/pkg/clientHandler/embed/index.html
  manifests/manifests/external/kustomization.yaml
  manifests/manifests/external/service.yaml
Labels: external, ci-cd

#126 Fix/change dir
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-python-server.yml
  .github/workflows/test-frontend.yml
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/Dockerfile
  frontend/README.md
  frontend/chofusai-plarail2021-front/Dockerfile
  frontend/next-env.d.ts
  frontend/next.config.js
  frontend/other/.gitkeep
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/api/hello.ts
  frontend/pages/index.tsx
  frontend/public/favicon.ico
  frontend/public/vercel.svg
  frontend/styles/Home.module.css
  frontend/styles/globals.css
  frontend/tsconfig.json
  frontend/videoCast/.gitignore
  frontend/videoCast/Dockerfile.nginx
  frontend/videoCast/Dockerfile.python
  frontend/videoCast/momo_sender.html
  frontend/videoCast/momo_sender.js
  frontend/videoCast/one_to_multiple_cast_skyway.py
  frontend/videoCast/package-lock.json
  frontend/videoCast/package.json
  frontend/videoCast/requirements.txt
  frontend/videoCast/skyway_receiver.html
  frontend/videoCast/skyway_receiver.js
  frontend/videoCast/webpack.config.js
  frontend/yarn.lock
  frontend_old/Dockerfile
  frontend_old/index.html
Labels: frontend, ci-cd

#129 deployment 20211105-2047
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-python-server.yml
  .github/workflows/test-frontend.yml
  backend/external/pkg/clientHandler/embed/index.html
  backend/external/pkg/servo/send.go
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/Dockerfile
  frontend/README.md
  frontend/next-env.d.ts
  frontend/next.config.js
  frontend/other/.gitkeep
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/api/hello.ts
  frontend/pages/index.tsx
  frontend/public/favicon.ico
  frontend/public/vercel.svg
  frontend/styles/Home.module.css
  frontend/styles/globals.css
  frontend/tsconfig.json
  frontend/videoCast/.gitignore
  frontend/videoCast/Dockerfile.nginx
  frontend/videoCast/Dockerfile.python
  frontend/videoCast/momo_sender.html
  frontend/videoCast/momo_sender.js
  frontend/videoCast/one_to_multiple_cast_skyway.py
  frontend/videoCast/package-lock.json
  frontend/videoCast/package.json
  frontend/videoCast/requirements.txt
  frontend/videoCast/skyway_receiver.html
  frontend/videoCast/skyway_receiver.js
  frontend/videoCast/webpack.config.js
  frontend/yarn.lock
  frontend_old/Dockerfile
  frontend_old/index.html
  manifests/manifests/external/deployment.yaml
  manifests/manifests/external/env.yaml
  manifests/manifests/external/kustomization.yaml
  manifests/manifests/external/service.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/kustomization.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
Labels: frontend, external, ci-cd

#130 for loop重すぎ
  backend/external/cmd/main.go
  backend/external/pkg/syncController/syncController.go
Labels: external

#131 deployment 20211106-1407
  backend/external/cmd/main.go
  backend/external/pkg/syncController/syncController.go
  manifests/manifests/external/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
Labels: external, ci-cd

#132 Update deploy-frontend.yml
  .github/workflows/deploy-frontend.yml
Labels: ci-cd

#133 deployment-202111061412
  .github/workflows/deploy-frontend.yml
  manifests/manifests/external/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
Labels: ci-cd

#134 change port to 3000
  manifests/manifests/frontend/service.yaml
Labels: ci-cd

#137 implement user input validator
  backend/external/cmd/main.go
  backend/external/go.mod
  backend/external/go.sum
  backend/external/pkg/stationNameId/map.go
  backend/external/pkg/syncController/embed/stationRule.yml
  backend/external/pkg/syncController/syncController.go
  backend/external/pkg/syncController/syncController_test.go
  backend/external/pkg/syncController/validate.go
  backend/external/pkg/syncController/validate_test.go
Labels: external

#141 implement internal server mock
  backend/internal/go.mod
  backend/internal/internalMock/mock.go
  backend/internal/pkg/grpcMock/mock.go
Labels: internal

#149 disable image optimization
  frontend/.eslintrc.json
  frontend/pages/index.tsx
Labels: frontend

#151 use nginx instead of next server by static HTML export
  frontend/Dockerfile
  frontend/package.json
Labels: frontend

#146 Fix/nandemo internal
  backend/builtin/speed/internal/serveGrpc.go
  backend/external/cmd/main.go
  backend/external/pkg/syncController/validate.go
  backend/internal/cmd/main.go
  backend/internal/internal/sendMsg2Esp.go
  backend/internal/internal/sendMsg2Esp_test.go
  backend/internal/pkg/Send2Json/sendJson.go
  backend/internal/pkg/msg2Esp/send.go
  backend/internal/pkg/msg2Esp/send_test.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal_test.go
  backend/internal/pkg/serveGrpc/serveGrpc.go
  backend/internal/pkg/station2espIp/embed/station2espIp.yml
  backend/internal/pkg/station2espIp/parseYaml.go
  backend/internal/pkg/station2espIp/parseYaml_test.go
Labels: internal, external

#156 move to gke
  manifests/flux-system/infra.yaml
  manifests/flux-system/plarail.yaml
  manifests/infra/helm/kustomization.yaml
  manifests/infra/helm/release.yaml
  manifests/infra/helm/repository.yaml
  manifests/kustomization.yaml
  manifests/manifests/external/ingressroute.yaml
  manifests/manifests/external/kustomization.yaml
  manifests/manifests/external/virtualservice.yaml
  manifests/manifests/frontend/ingressroute.yaml
  manifests/manifests/frontend/kustomization.yaml
  manifests/manifests/frontend/virtualservice.yaml
  manifests/manifests/python-webrtc-server/ingressroute.yaml
  manifests/manifests/python-webrtc-server/kustomization.yaml
  manifests/manifests/python-webrtc-server/virtualservice.yaml
Labels: ci-cd

#155 fix code for success test
  backend/internal/internalMock/mock.go
Labels: internal

#153 api change request
  docs/api.md
  docs/speed.md
Labels: documentation

#161 revert port number
  manifests/manifests/frontend/service.yaml
Labels: ci-cd

#170 Testing videocast
  .github/workflows/deploy-sender.yml
  .github/workflows/deploy-testing-receiver.yml
  frontend/videoCast/Dockerfile.receiver
  frontend/videoCast/Dockerfile.sender
  manifests/imageautomation/kustomization.yaml
  manifests/imageautomation/receiver/imagepolicy.yaml
  manifests/imageautomation/receiver/kustomization.yaml
  manifests/imageautomation/receiver/repository.yaml
  manifests/imageautomation/webrtc-sender/imagepolicy.yaml
  manifests/imageautomation/webrtc-sender/kustomization.yaml
  manifests/imageautomation/webrtc-sender/repository.yaml
  manifests/infra/certificate/certificate.yml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/receiver-test/ingressroute.yaml
  manifests/manifests/receiver-test/kustomization.yaml
  manifests/manifests/receiver-test/service.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
  manifests/manifests/webrtc-sender/ingressroute.yaml
  manifests/manifests/webrtc-sender/kustomization.yaml
  manifests/manifests/webrtc-sender/service.yaml
Labels: frontend, ci-cd

#168 require env SKYWAY_APIKEY, AYAME_SIGNALING_KEY, SENDER_TOKEN
  backend/builtin/speed/spec/speedControl.pb.go
  frontend/videoCast/momo_sender.js
  frontend/videoCast/one_to_multiple_cast_skyway.py
  frontend/videoCast/skyway_receiver.js
  frontend/videoCast/webpack.config.js
Labels: frontend

#167 esp initializer
  backend/external/cmd/main.go
  backend/external/pkg/syncController/embed/stationInit.yml
  backend/external/pkg/syncController/initStation.go
  backend/external/pkg/syncController/syncController.go
Labels: external

#175 deployment
  backend/external/cmd/main.go
  backend/external/pkg/syncController/embed/stationInit.yml
  backend/external/pkg/syncController/initStation.go
  backend/external/pkg/syncController/syncController.go
  frontend/videoCast/sender.sh
  manifests/imageautomation/webrtc-sender/repository.yaml
  manifests/infra/nginx/ingress.yaml
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/kustomization.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: frontend, external, ci-cd

#159 explicit angle definition
  backend/internal/pkg/msg2Esp/send.go
  backend/internal/pkg/msg2Esp/send_test.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal_test.go
  backend/internal/pkg/serveGrpc/serveGrpc.go
  backend/internal/pkg/station2espIp/parseYaml.go
Labels: internal

#177 fix yaml format
  backend/external/pkg/syncController/embed/stationInit.yml
Labels: external

#178 deployment 202111141307
  backend/external/pkg/syncController/embed/stationInit.yml
  backend/internal/pkg/msg2Esp/send.go
  backend/internal/pkg/msg2Esp/send_test.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal_test.go
  backend/internal/pkg/serveGrpc/serveGrpc.go
  backend/internal/pkg/station2espIp/parseYaml.go
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
  manifests/manifests/webrtc-sender/ingressroute.yaml
Labels: internal, external, ci-cd

#180 collect metrics
  backend/external/cmd/main.go
  backend/external/internal/http.go
Labels: external

#181 collect metrics from internal control server
  backend/internal/cmd/main.go
  backend/internal/pkg/esp32healthcheck/esp32Healthcheck.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal_test.go
  backend/internal/pkg/serveGrpc/serveGrpc.go
  backend/internal/pkg/station2espIp/parseYaml.go
Labels: internal

#185 deployment
  backend/external/cmd/main.go
  backend/external/internal/http.go
  backend/internal/cmd/main.go
  backend/internal/pkg/esp32healthcheck/esp32Healthcheck.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal_test.go
  backend/internal/pkg/serveGrpc/serveGrpc.go
  backend/internal/pkg/station2espIp/parseYaml.go
  backend/positioning/Dockerfile
  backend/positioning/Makefile
  backend/positioning/README.md
  backend/positioning/a
  backend/positioning/cmd/main.go
  backend/positioning/docker-compose.yml
  backend/positioning/go.mod
  backend/positioning/go.sum
  backend/positioning/hallsensor.yaml
  backend/positioning/internal/calculateSpeed.go
  backend/positioning/internal/handler.go
  backend/positioning/internal/http.go
  backend/positioning/pkg/clientHandler/handler.go
  backend/positioning/pkg/gormHandler/trainState.go
  backend/positioning/pkg/gormHandler/trainState_test.go
  backend/positioning/pkg/hallsensor/embed/esp32.yaml
  backend/positioning/pkg/hallsensor/embed/hallsensor.yaml
  backend/positioning/pkg/hallsensor/esp32.go
  backend/positioning/pkg/hallsensor/physical.go
  backend/positioning/pkg/positionReceiver/receiver.go
  backend/positioning/pkg/trainState/trainState.go
  backend/positioning/visualize.py
  backend/speed/README.md
  frontend/videoCast/Dockerfile.receiver
  frontend/videoCast/receiver.sh
  manifests/manifests/control-internal/endpoint.yaml
  manifests/manifests/control-internal/kustomization.yaml
  manifests/manifests/control-internal/monitor.yaml
  manifests/manifests/control-internal/service.yaml
  manifests/manifests/external/deployment.yaml
  manifests/manifests/external/kustomization.yaml
  manifests/manifests/external/monitor.yaml
  manifests/manifests/external/service.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: frontend, internal, external, ci-cd

#187 fix Send method
  backend/internal/pkg/msg2Esp/send.go
Labels: internal

#188 add docker-compose
  backend/docker-compose.yaml
  backend/external/Dockerfile
  backend/internal/Dockerfile
  manifests/manifests/control-internal/endpoint.yaml
Labels: internal, external, ci-cd

#189 deployment
  backend/docker-compose.yaml
  backend/external/Dockerfile
  backend/internal/Dockerfile
  backend/internal/pkg/msg2Esp/send.go
  manifests/manifests/control-internal/endpoint.yaml
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: internal, external, ci-cd

#190 Fix label
  backend/external/cmd/main.go
Labels: external

#191 fix crash by prometheus unused label
  backend/external/cmd/main.go
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: external, ci-cd

#194 deployment
  backend/external/internal/http.go
  manifests/manifests/external/deployment.yaml
  manifests/manifests/external/env.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: external, ci-cd

#195 serve pprof
  backend/Makefile
  backend/docker-compose.yaml
  backend/internal/cmd/main.go
  backend/internal/pkg/station2espIp/embed/station2espIp.yml
Labels: internal

#197 change peer to sfu-room
  frontend/videoCast/momo_sender.js
  frontend/videoCast/skyway_receiver.js
Labels: frontend

#198 deployment
  backend/Makefile
  backend/docker-compose.yaml
  backend/internal/cmd/main.go
  backend/internal/pkg/station2espIp/embed/station2espIp.yml
  frontend/videoCast/momo_sender.js
  frontend/videoCast/skyway_receiver.js
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: frontend, internal, ci-cd

#199 reuse http.client
  backend/internal/pkg/Send2Json/sendJson.go
  backend/internal/pkg/msg2Esp/send.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal_test.go
  backend/internal/pkg/serveGrpc/serveGrpc.go
Labels: internal

#202 add playsinline
  frontend/videoCast/skyway_receiver.html
Labels: frontend

#203 deployment
  backend/internal/pkg/Send2Json/sendJson.go
  backend/internal/pkg/msg2Esp/send.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal_test.go
  backend/internal/pkg/serveGrpc/serveGrpc.go
  frontend/videoCast/skyway_receiver.html
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: frontend, internal, ci-cd

#196 add railroad map SVG components and sample
  frontend/components/RailRoadMap.tsx
  frontend/components/svgParts/Rail.tsx
  frontend/components/svgParts/Station.tsx
  frontend/components/svgParts/StopPoint.tsx
  frontend/components/svgParts/SwitchPoint.tsx
  frontend/pages/index.tsx
  frontend/types/svgPartsTypes.tsx
  frontend/utils/util.ts
Labels: frontend

#206 fix struct
  backend/external/pkg/clientHandler/clientHandler.go
  docs/api.md
Labels: documentation, external

#208 python error handling tentatively
  frontend/videoCast/one_to_multiple_cast_skyway.py
Labels: frontend

#210 deployment
  README.md
  backend/external/pkg/clientHandler/clientHandler.go
  docs/api.md
  docs/endpoints.md
  frontend/components/RailRoadMap.tsx
  frontend/components/svgParts/Rail.tsx
  frontend/components/svgParts/Station.tsx
  frontend/components/svgParts/StopPoint.tsx
  frontend/components/svgParts/SwitchPoint.tsx
  frontend/pages/index.tsx
  frontend/types/svgPartsTypes.tsx
  frontend/utils/util.ts
  frontend/videoCast/one_to_multiple_cast_skyway.py
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: documentation, frontend, external, ci-cd

#211 Feat/append station
  .github/workflows/compile-protocol-buffer.yml
  backend/Makefile
  backend/external/spec/statesync.pb.go
  backend/internal/spec/statesync.pb.go
  backend/proto/statesync.proto
Labels: internal, external, ci-cd

#212 fix test
  backend/external/pkg/syncController/validate_test.go
Labels: external

#213 deployment
  .github/workflows/compile-protocol-buffer.yml
  backend/Makefile
  backend/external/pkg/syncController/validate_test.go
  backend/external/spec/statesync.pb.go
  backend/internal/spec/statesync.pb.go
  backend/proto/statesync.proto
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: internal, external, ci-cd

#214 format via prettier
  frontend/.eslintrc.json
  frontend/.prettierignore
  frontend/components/RailRoadMap.tsx
  frontend/components/svgParts/Rail.tsx
  frontend/components/svgParts/Station.tsx
  frontend/components/svgParts/StopPoint.tsx
  frontend/components/svgParts/SwitchPoint.tsx
  frontend/next.config.js
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/api/hello.ts
  frontend/pages/index.tsx
  frontend/types/svgPartsTypes.tsx
  frontend/utils/util.ts
  frontend/yarn.lock
Labels: frontend

#217 run prettier on GitHub actions
  .github/workflows/format_frontend.yml
Labels: frontend, ci-cd

#216 use circle instead of ellipse
  frontend/components/svgParts/Rail.tsx
  frontend/components/svgParts/StopPoint.tsx
  frontend/components/svgParts/SwitchPoint.tsx
Labels: frontend

#219 double track
  frontend/components/RailRoadMap.tsx
  frontend/pages/index.tsx
Labels: frontend

#227 Edit meta tag
  frontend/pages/index.tsx
  frontend/public/favicon.ico
  frontend/public/kokenLogo.ico
  frontend/public/vercel.svg
  frontend/styles/Home.module.css
Labels: frontend

#225 初期化ファイルの状態に文字列を取るよう変更
  backend/external/pkg/syncController/embed/stationInit.yml
  backend/external/pkg/syncController/initStation.go
  backend/external/pkg/syncController/syncController.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal.go
  backend/internal/pkg/serveGrpc/serveGrpc.go
Labels: internal, external

#230 配線図をdocumentに追加しました
  README.md
  docs/chofufes2021-map.pdf
  docs/map.md
Labels: documentation

#231 Update station2espIp.yml
  backend/internal/pkg/station2espIp/embed/station2espIp.yml
Labels: internal, config

#235 deploy
  .github/workflows/format_frontend.yml
  README.md
  backend/external/internal/http.go
  backend/external/pkg/clientHandler/clientHandler.go
  backend/external/pkg/syncController/embed/stationInit.yml
  backend/external/pkg/syncController/initStation.go
  backend/external/pkg/syncController/syncController.go
  backend/external/spec/statesync.pb.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal.go
  backend/internal/pkg/serveGrpc/serveGrpc.go
  backend/internal/pkg/station2espIp/embed/station2espIp.yml
  backend/internal/spec/statesync.pb.go
  backend/proto/statesync.proto
  docs/chofufes2021-map.pdf
  docs/endpoints.md
  docs/map.jpg
  docs/map.md
  frontend/.eslintrc.json
  frontend/.prettierignore
  frontend/components/RailRoadMap.tsx
  frontend/components/svgParts/Rail.tsx
  frontend/components/svgParts/Station.tsx
  frontend/components/svgParts/StopPoint.tsx
  frontend/components/svgParts/SwitchPoint.tsx
  frontend/next.config.js
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/api/hello.ts
  frontend/pages/index.tsx
  frontend/public/favicon.ico
  frontend/public/kokenLogo.ico
  frontend/public/vercel.svg
  frontend/styles/Home.module.css
  frontend/types/svgPartsTypes.tsx
  frontend/utils/util.ts
  frontend/yarn.lock
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: documentation, frontend, internal, external, ci-cd

#233 delete log
  backend/external/internal/http.go
  backend/external/pkg/syncController/syncController.go
Labels: external

#229 early return is justice
  frontend/components/svgParts/StopPoint.tsx
Labels: frontend

#247 fix momo stream
  frontend/videoCast/momo_sender.js
Labels: frontend

#248 deployment
  backend/external/internal/http.go
  backend/external/pkg/syncController/syncController.go
  frontend/components/svgParts/StopPoint.tsx
  frontend/videoCast/momo_sender.js
  manifests/manifests/external/deployment.yaml
  manifests/manifests/external/kustomization.yaml
  manifests/manifests/external/rbac.yaml
  manifests/manifests/external/tailscale-conf.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: frontend, external, ci-cd

#238 add type definition for WebSocket message
  frontend/types/websocket-messages.ts
Labels: frontend

#243 remove stop rail from Station component
  frontend/components/RailRoadMap.tsx
  frontend/components/svgParts/Station.tsx
  frontend/pages/index.tsx
Labels: frontend

#250 stop rails and bunki rails
  frontend/package.json
  frontend/types/websocket-messages.ts
  frontend/yarn.lock
Labels: frontend

#249 refactor and bugfix in handling websocket
  backend/docker-compose.yaml
  backend/external/cmd/main.go
  backend/external/internal/http.go
  backend/external/pkg/clientHandler/embed/index.html
  backend/positioning/internal/http.go
Labels: external

#257 debug stop rails
  frontend/components/RailRoadMap.tsx
  frontend/pages/index.tsx
  frontend/types/websocket-messages.ts
Labels: frontend

#258 debug bunki rails
  frontend/components/RailRoadMap.tsx
  frontend/pages/index.tsx
Labels: frontend

#265 Fix/issue262 validator
  backend/external/pkg/syncController/validate.go
  backend/external/pkg/syncController/validate_test.go
Labels: external

#271 validation err handling
  backend/external/pkg/syncController/syncController.go
Labels: external

#275 delete not used servo conf
  backend/external/pkg/syncController/embed/stationInit.yml
  backend/external/spec/statesync.pb.go
  backend/internal/pkg/station2espIp/embed/station2espIp.yml
  backend/internal/spec/statesync.pb.go
  backend/positioning/spec/statesync.pb.go
  backend/proto/statesync.proto
Labels: internal, external

#277 deployment 11190040
  backend/external/pkg/syncController/embed/stationInit.yml
  backend/external/pkg/syncController/syncController.go
  backend/external/spec/statesync.pb.go
  backend/internal/pkg/station2espIp/embed/station2espIp.yml
  backend/internal/spec/statesync.pb.go
  backend/positioning/spec/statesync.pb.go
  backend/proto/statesync.proto
  docs/section-where-positioning-is-possible.pdf
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: internal, external, ci-cd

#276 add ip fix docs
  docs/fixation-ip.md
Labels: documentation

#279 rail become polygonal
  frontend/components/RailRoadMap.tsx
  frontend/components/svgParts/Rail.tsx
Labels: frontend

#278 add debug log and disable validator
  backend/external/pkg/clientHandler/clientHandler.go
  backend/external/pkg/clientHandler/embed/index.html
  backend/external/pkg/syncController/syncController.go
Labels: external

#280 deployment
  backend/external/pkg/clientHandler/clientHandler.go
  backend/external/pkg/clientHandler/embed/index.html
  backend/external/pkg/syncController/syncController.go
  docs/fixation-ip.md
  frontend/components/RailRoadMap.tsx
  frontend/components/svgParts/Rail.tsx
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: documentation, frontend, external, ci-cd

#281 add SVG components document
  docs/svgcomponents.md
Labels: documentation

#292 change skyway room id every almost 1000 connections to aboid skyway l…
  frontend/videoCast/momo_sender.js
  frontend/videoCast/one_to_multiple_cast_skyway.py
  frontend/videoCast/skyway_receiver.js
Labels: frontend

#294 deployment
  backend/speed/internal/handler.go
  backend/speed/internal/http.go
  docs/haisenzu-final.png
  frontend/videoCast/momo_sender.js
  frontend/videoCast/one_to_multiple_cast_skyway.py
  frontend/videoCast/skyway_receiver.js
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: frontend, ci-cd

#295 Deploy positioning
  .github/workflows/deploy-positioning.yml
  manifests/imageautomation/kustomization.yaml
  manifests/imageautomation/positioning/imagepolicy.yaml
  manifests/imageautomation/positioning/kustomization.yaml
  manifests/imageautomation/positioning/repository.yaml
  manifests/manifests/kustomization.yaml
  manifests/manifests/positioning/deployment.yaml
  manifests/manifests/positioning/ingressroute.yaml
  manifests/manifests/positioning/kustomization.yaml
  manifests/manifests/positioning/service.yaml
Labels: ci-cd

#299 speed-deploy
  .github/workflows/deploy-speed.yml
  backend/speed/Dockerfile
  backend/speed/Makefile
  backend/speed/docker-compose.yml
Labels: ci-cd

#305 deployment
  .github/workflows/deploy-speed.yml
  backend/positioning/pkg/addressChecker/embed/allowlist.yaml
  backend/speed/Dockerfile
  backend/speed/Makefile
  backend/speed/docker-compose.yml
  manifests/infra/certificate/certificate.yml
  manifests/infra/nginx/ingress.yaml
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/positioning/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: ci-cd

#306 fix deploy workflow
  .github/workflows/deploy-speed.yml
Labels: ci-cd

#307 deployment
  .github/workflows/deploy-speed.yml
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/positioning/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: ci-cd

#308 deploy
  backend/speed/Makefile
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/positioning/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: ci-cd

#311 traefik implement
  .github/workflows/deploy-speed.yml
  backend/.gitignore
  backend/Makefile
  backend/docker-compose.yml
  backend/docker-compose.yml.debug
  backend/traefik.yml
Labels: ci-cd

#291 add SpeedMeter
  frontend/components/svgParts/SpeedMeter.tsx
  frontend/pages/index.tsx
Labels: frontend

#315 deployment-11191644
  .github/workflows/deploy-speed.yml
  backend/.gitignore
  backend/Makefile
  backend/docker-compose.yml
  backend/docker-compose.yml.debug
  backend/traefik.yml
  frontend/components/svgParts/SpeedMeter.tsx
  frontend/pages/index.tsx
  manifests/infra/nginx/ingress.yaml
  manifests/manifests/control-internal/endpoint.yaml
  manifests/manifests/control-internal/monitor.yaml
  manifests/manifests/control-internal/service.yaml
  manifests/manifests/external/deployment.yaml
  manifests/manifests/external/env.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/positioning/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: frontend, ci-cd

#319 fix deploy
  .github/workflows/deploy-speed.yml
  backend/Makefile
Labels: ci-cd

#322 deploy
  backend/docker-compose.yml
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/positioning/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: ci-cd

#324 deploy
  backend/docker-compose.yml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/positioning/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: ci-cd

#318 replace Station component with Platform component
  docs/svgcomponents.md
  frontend/components/RailRoadMap.tsx
  frontend/components/svgParts/Platform.tsx
  frontend/components/svgParts/Station.tsx
Labels: documentation, frontend

#334 delete example.com
  backend/internal/pkg/station2espIp/embed/station2espIp.yml
Labels: internal

#330 add video area
  frontend/components/VideoCast.tsx
  frontend/package.json
  frontend/pages/index.tsx
  frontend/videoCast/skyway_receiver.js
  frontend/yarn.lock
Labels: frontend

#337 deployment
  frontend/components/VideoCast.tsx
  frontend/package.json
  frontend/pages/index.tsx
  frontend/videoCast/skyway_receiver.js
  frontend/yarn.lock
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/positioning/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: frontend, ci-cd

#336 fix initializer
  backend/external/pkg/servo/send.go
  backend/external/pkg/servo/send_test.go
  backend/external/pkg/syncController/syncController.go
Labels: external

#338 Fix video bug
  frontend/components/VideoCast.tsx
Labels: frontend

#339 deployment
  backend/external/pkg/servo/send.go
  backend/external/pkg/servo/send_test.go
  backend/external/pkg/syncController/syncController.go
  frontend/components/VideoCast.tsx
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/positioning/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: frontend, external, ci-cd

#342 deployment
  backend/internal/pkg/station2espIp/embed/station2espIp.yml
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/positioning/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: internal, ci-cd

#344 dump station state in initialize
  backend/external/pkg/servo/send.go
  backend/external/pkg/syncController/syncController.go
Labels: external

#345 map become production version
  frontend/components/RailRoadMap.tsx
  frontend/components/svgParts/Platform.tsx
  frontend/pages/index.tsx
Labels: frontend

#346 refactor
  frontend/components/VideoCast.tsx
Labels: frontend

#348 two-light signal
  frontend/components/svgParts/StopPoint.tsx
Labels: frontend

#352 check peerid
  frontend/components/VideoCast.tsx
Labels: frontend

#347 driving interface
  frontend/components/RailRoadMap.tsx
  frontend/components/VideoCast.tsx
  frontend/components/svgParts/ReverseHandle.tsx
  frontend/pages/index.tsx
  frontend/types/control-messages.ts
  frontend/types/speed-messages.ts
Labels: frontend

#353 Multiple video
  frontend/components/VideoCast.tsx
  frontend/pages/index.tsx
Labels: frontend

#354 deployment
  backend/external/pkg/servo/send.go
  backend/external/pkg/syncController/syncController.go
  backend/internal/pkg/station2espIp/embed/station2espIp.yml
  frontend/components/RailRoadMap.tsx
  frontend/components/VideoCast.tsx
  frontend/components/svgParts/Platform.tsx
  frontend/components/svgParts/ReverseHandle.tsx
  frontend/components/svgParts/StopPoint.tsx
  frontend/pages/index.tsx
  frontend/types/control-messages.ts
  frontend/types/speed-messages.ts
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/positioning/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: frontend, internal, external, ci-cd

#361 sync station id
  frontend/pages/index.tsx
  frontend/types/control-messages.ts
Labels: frontend

#365 sync stop rails
  frontend/components/RailRoadMap.tsx
  frontend/pages/index.tsx
Labels: frontend

#366 sync switch points
  frontend/components/RailRoadMap.tsx
  frontend/pages/index.tsx
Labels: frontend

#370 Update station2espIp.yml
  backend/internal/pkg/station2espIp/embed/station2espIp.yml
Labels: internal

#368 deploy
  backend/builtin/speed/Makefile
  backend/builtin/speed/control_pin.py
  backend/internal/pkg/station2espIp/embed/station2espIp.yml
  frontend/components/RailRoadMap.tsx
  frontend/pages/index.tsx
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/positioning/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: frontend, internal, ci-cd

#373 deployment
  backend/builtin/speed/control_pin.py
  backend/speed/index.html
  backend/speed/pkg/train2IP/store.go
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/positioning/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: ci-cd

#379 Update station2espIp.yml
  backend/internal/pkg/station2espIp/embed/station2espIp.yml
Labels: internal

#388 deployment
  backend/external/pkg/syncController/embed/stationInit.yml
  backend/internal/pkg/esp32healthcheck/esp32Healthcheck.go
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/positioning/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: internal, external, ci-cd

#397 fix typo
  frontend/components/RailRoadMap.tsx
Labels: frontend

#395 switch video
  frontend/components/VideoCast.tsx
  frontend/pages/index.tsx
  frontend/types/webrtc-message.ts
Labels: frontend

#399 add styles to VideoCast and display wipe
  frontend/components/VideoCast.tsx
  frontend/pages/index.tsx
Labels: frontend

#394 fix a bug may cause crash?
  backend/internal/pkg/esp32healthcheck/esp32Healthcheck.go
Labels: internal

#398 deployment
  backend/internal/pkg/esp32healthcheck/esp32Healthcheck.go
  frontend/components/RailRoadMap.tsx
  frontend/components/VideoCast.tsx
  frontend/pages/index.tsx
  frontend/types/webrtc-message.ts
  frontend/videoCast/momo_sender.html
  frontend/videoCast/momo_sender.js
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/positioning/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: frontend, internal, ci-cd

#401 video cast write ekimei
  frontend/pages/index.tsx
Labels: frontend

#396 fit map
  frontend/components/RailRoadMap.tsx
Labels: frontend

#402 deployment
  frontend/components/RailRoadMap.tsx
  frontend/pages/index.tsx
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/positioning/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: frontend, ci-cd

#404 fix angle
  backend/internal/pkg/msg2Esp/send.go
Labels: internal

#406 fix typo
  frontend/components/RailRoadMap.tsx
Labels: frontend

#407 deployment
  frontend/components/RailRoadMap.tsx
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/positioning/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: frontend, ci-cd

#408 refactor handwriting switch point
  frontend/components/RailRoadMap.tsx
Labels: frontend

#409 ignore deployment for python server
  .github/workflows/deploy-python-server.yml
Labels: ci-cd

#413 add some missing stop points
  frontend/components/RailRoadMap.tsx
Labels: frontend

#414 select stop point or switch point to toggle
  frontend/components/RailRoadMap.tsx
  frontend/components/svgParts/StopPoint.tsx
  frontend/components/svgParts/SwitchPoint.tsx
  frontend/pages/index.tsx
  frontend/tsconfig.json
Labels: frontend

#411 add cloce up map
  frontend/components/RailRoadMap.tsx
Labels: frontend

#420 fast switch
  frontend/components/svgParts/SwitchPoint.tsx
Labels: frontend

#419 fix switch point text
  frontend/pages/index.tsx
Labels: frontend

#422 fix #411 merge miss
  frontend/components/RailRoadMap.tsx
Labels: frontend

#423 fix typo
  frontend/components/RailRoadMap.tsx
Labels: frontend

#424 delete chofu_s6
  frontend/components/RailRoadMap.tsx
  frontend/pages/index.tsx
Labels: frontend

#426 add train video
  frontend/pages/index.tsx
Labels: frontend

#429 fix switch rail
  frontend/components/RailRoadMap.tsx
Labels: frontend

#428 fix video style
  frontend/pages/index.tsx
Labels: frontend

#430 deploy
  backend/builtin/speed/control_pin.py
  frontend/components/RailRoadMap.tsx
  frontend/pages/index.tsx
  manifests/manifests/external/deployment.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/positioning/deployment.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: frontend, ci-cd

#349 stationRule.ymlの記入
  backend/external/pkg/syncController/embed/stationRule.yml
Labels: external

#440 thanks for all servers!
  manifests/infra/helm/kustomization.yaml
  manifests/manifests/kustomization.yaml
Labels: ci-cd
